<!DOCTYPE html>
<html>

<head>
    <title>用户管理</title>
    {% include 'system/common/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='system/admin/css/other/user.css') }}" />
</head>

<body class="pear-container">
    {# 查询表单 #}
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" lay-filter="user-query-form">
                <div class="layui-form-item" style="margin-bottom: unset;">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realname" placeholder="" class="layui-input">
                    </div>
                    <label class="layui-form-label">学号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="" class="layui-input">
                    </div>
                    <button class="layui-btn layui-btn-md" lay-submit lay-filter="user-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary layui-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>

                
            </form>
        </div>
    </div>
    <div class="user-left user-collasped">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="button button-primary user-group" user-group=""> 全 部 用 户</div>
                <div class="button button-default user-group" user-group="-1"> 默 认 分 组</div>
                <div style="overflow: auto">
                    <ul id="dept-tree" class="dept-tree" data-id="0"></ul>
                </div>
            </div>
        </div>
    </div>
    {# 用户表格 #}
    <div class="user-main user-collasped">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="user-table" lay-filter="user-table"></table>
            </div>
        </div>
    </div>
</body>

{% include 'system/common/footer.html' %}


</script>

{# 用户修改操作 #}
<script type="text/html" id="user-bar">
    {% if authorize("student:data") %}
    <button class="layui-btn layui-btn-xs" lay-event="view" style="background-color: #2076d3; color: white; border-radius: 5px;"><i class="pear-icon">成绩查看</i> 
    </button>
    {% endif %}
</script>

{% raw %}
<script type="text/html" id="user-enable">
    <input type="checkbox" name="enable" value="{{ d.id }}" lay-skin="switch" lay-text="启用|禁用"
           lay-filter="user-enable"
            {{# if(d.enable==1){ }} checked {{# } }} />
</script>

<!-- TODO -->

<script type="text/html" id="collegeCode">
    {{ d.collegeCode }}
</script>

<!-- <script type="text/html" id="user-Time">
    {{layui.util.toDateString(d.update_at,  "yyyy-MM-dd HH:mm:ss")}}
</script> -->
{% endraw %}


<script>
    layui.use(['table', 'dtree', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree
        let popup = layui.popup
        let common = layui.common
        let MODULE_PATH = "{{ url_for('student.data') }}"

        let cols = [
            [
                { title: '编号', field: 'id', align: 'center' },
                { title: '姓名', field: 'sName', align: 'center', width: 80 },
                { title: '性别', field: 'sSex', align: 'center', width: 80 },
                { title: '学号', field: 'sNumber', align: 'center', width: 130 },
                { title: '身高', field: 'sHeight', align: 'center', width: 100 },
                { title: '体重', field: 'sWeight', align: 'center', width: 100 },
                { title: '肺活量', field: 'sVitalCapacity', align: 'center', width: 100 },
                { title: '50米跑', field: 'run50', align: 'center', width: 100 },
                { title: '立定跳远', field: 'standingLongJump', align: 'center', width: 100 },
                { title: '坐位体前屈', field: 'sittingForward', align: 'center', width: 100 },
                { title: '800米跑', field: 'run800', align: 'center', width: 100 },
                { title: '1000米跑', field: 'run1000', align: 'center', width: 100 },
                { title: '一分钟仰卧起坐', field: 'oneMinuteSitUps', align: 'center', width: 100 },
                { title: '引体向上', field: 'pullUP', align: 'center', width: 100 },
                { title: '操作', toolbar: '#user-bar', align: 'center', width: 100 }

            ]
        ]



        // 渲染表格数据
        table.render({
            elem: '#user-table',
            url: MODULE_PATH + 'data',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#user-toolbar', /*工具栏*/
            text: { none: '暂无人员信息' },
            defaultToolbar: ['filter', 'exports'] /*默认工具栏*/
        })


        // 菜单栏渲染
        dtree.on('node(\'dept-tree\')', function (obj) {
            let field = form.val('user-query-form') /*用户账号查询*/
            field.deptId = obj.param.nodeId
            window.refresh(field)
        })

        //
        $('.user-group').click(function () {
            let group = $(this).attr('user-group')
            let field = form.val('user-query-form')
            if (group === '-1') {
                field.deptId = group
                $(this).removeClass('button-default')
                $(this).prev().removeClass('button-primary')
                $(this).prev().addClass('button-default')
                $(this).addClass('button-primary')
            } else {
                field.deptId = group
                $(this).removeClass('button-default')
                $(this).next().removeClass('button-primary')
                $(this).next().addClass('button-default')
                $(this).addClass('button-primary')
            }
            window.refresh(field)
        })


        table.on('tool(user-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj)
            }
            else if (obj.event === 'view') {
                window.queryPhysicalData(obj.data); 
            }
        });


        table.on('toolbar(user-table)', function (obj) {
            if (obj.event === 'add') {
                window.add()
            } else if (obj.event === 'refresh') {
                window.refresh()
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj)
            } else if (obj.event === 'collasped') {
                $('.user-left').toggleClass('user-collasped')
                $('.user-main').toggleClass('user-collasped')
                table.resize()
            }
        })


        form.on('submit(user-query)', function (data) {
            window.refresh(data.field)
            return false
        })



        form.on('switch(user-enable)', function (obj) {

            let operate
            if (obj.elem.checked) {
                operate = 'enable'
            } else {
                operate = 'disable'
            }
            let loading = layer.load()
            $.ajax({
                url: MODULE_PATH + operate,
                data: JSON.stringify({ userId: this.value }),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    layer.close(loading)
                    if (result.success) {
                        popup.success(result.msg)
                    } else {
                        popup.failure(result.msg)
                    }
                }
            })
        })

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['550px', '550px'],
                content: MODULE_PATH + 'add'
            })
        }

        window.queryPhysicalData = function (userData) {
            layer.open({
                type: 1, // 使用1表示页面内容
                title: '查询当前用户成绩',
                shade: 0.1,
                area: ['700px', '550px'],
                content:
                    '<div style="margin-left: 20px;"><strong>姓名：</strong>' + userData.sName + '</div>' +
                    '<div style="margin-left: 20px;"><strong>学号：</strong>' + userData.sNumber + '</div>' +
                    '<div style="margin-left: 20px;"><strong>性别：</strong>' + userData.sSex + '</div>' +


                    '<table class="layui-table">' +
                    '<thead>' +
                    '<tr><th>项目</th><th>结果</th><th>评分</th></tr>' +
                    '</thead>' +
                    '<tbody>' +
                    '<tr><th>身高</th><td>' + userData.sHeight + '</td><td>' + '-' + '</td></tr>' +
                    '<tr><th>体重</th><td>' + userData.sWeight + '</td><td>' + '-' + '</td></tr>' +
                    '<tr><th>体重指数（BMI）</th><td>' + '-' + '</td><td>' + userData.score_bmi + '</td></tr>' +
                    '<tr><th>肺活量</th><td>' + userData.sVitalCapacity + '</td><td>' + userData.score_sVitalCapacity + '</td></tr>' +
                    '<tr><th>50米跑</th><td>' + userData.run50 + '</td><td>' + userData.score_run50 + '</td></tr>' +
                    '<tr><th>立定跳远</th><td>' + userData.standingLongJump + '</td><td>' + userData.score_standingLongJump + '</td></tr>' +
                    '<tr><th>坐位体前屈</th><td>' + userData.sittingForward + '</td><td>' + userData.score_sittingForward + '</td></tr>' +
                    '<tr><th>800米跑</th><td>' + (userData.run800 === null ? '-' : userData.run800) + '</td><td>' + (userData.score_run800 === null ? '-' : userData.score_run800) + '</td></tr>' +
                    '<tr><th>1000米跑</th><td>' + (userData.run1000 === null ? '-' : userData.run1000) + '</td><td>' + (userData.score_run1000 === null ? '-' : userData.score_run1000) + '</td></tr>' +
                    '<tr><th>一分钟仰卧起坐</th><td>' + (userData.oneMinuteSitUps === null ? '-' : userData.oneMinuteSitUps) + '</td><td>' + (userData.score_oneMinuteSitUps === null ? '-' : userData.score_oneMinuteSitUps) + '</td></tr>' +
                    '<tr><th>引体向上</th><td>' + (userData.pullUP === null ? '-' : userData.pullUP) + '</td><td>' + (userData.score_pullUP === null ? '-' : userData.score_pullUP) + '</td></tr>' +
                    '<tr><th>总成绩</th><td>' + '-' + '</td><td>' + userData.score_allScore + '</td></tr>' +
                    '</tbody>' +
                    '</table>'
            });
        }

        window.remove = function (obj) {
            console.log('good')
            layer.confirm('确定要删除该用户', { icon: 3, title: '提示' }, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({
                    url: MODULE_PATH + 'remove/' + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading)
                        if (result.success) {
                            popup.success(result.msg, function () {
                                obj.del()
                            })
                        } else {
                            popup.failure(result.msg)
                        }
                    }
                })
            })
        }


        window.refresh = function (param) {
            table.reload('user-table', { where: param })
        }
    })
</script>

</html>